$color-primario: #7A583A; /* tierra cálida */
$color-secundario: #C9A77B; /* arena suave */
$color-acento: #DDAF6D; /* dorado claro */
$color-fondo-acento: #f1d7b3; /* dorado claro */
$color-fondo: #FAF7F3; /* beige claro */
$color-texto: #3C2E25; /* marrón oscuro */
$color-terciario: #5C896E; /* Verde Claro */
$color-terciario-claro: #A6C7B9; /* Verde Claro */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.subcontent-section {
  border-radius: 2em;
  box-shadow: 0 4px 24px rgba(0,0,0,0.15);
  max-width: 98%;
  margin: 2.5rem auto;
  overflow: hidden;
}

body {
  background: $color-fondo;
  color: #3C2E25;
}
